@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


* {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.fazendadorosa.com.br/templates/yootheme/cache/d0/pordosol1-d0e0fd17.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(9px);
}

h1 {
    color: #a4ff8e;
    text-align: center;
    padding: 2rem;
}

.pr {
    text-align: center;
    background-color: #1b000f;
    padding: 9rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-width: 70%;

    border: 2px solid #a4ff8e;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    padding: 0.8rem;
    background-color: #a4ff8e;
    color: #1b000f;
    border-radius: 5px;
    margin: 0;
    font-size: 1rem;
}

img {
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

a {
    text-decoration: none;
    color: #1b000f;
}