@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


* {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #36001e, #faf3b7);
}

h1 {
    color: #fcf6bf;
    text-align: center;
    padding: 2rem;
}

.pr {
    text-align: center;
    background-color: #1b000f;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-width: 100dvh;

    border: 2px solid #fcf6bf;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    padding: 0.8rem;
    background-color: #fcf6bf;
    color: #1b000f;
    border-radius: 5px;
    margin: 0;
    font-size: 1rem;
}

img {
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

a {
    text-decoration: none;
    color: #1b000f;
}


